<div class="left-menu-items">
    @*<ul>
        <li>
            @Html.ActionLink("Главная", "Index", "Home")
        </li>
        <li>
            @Html.ActionLink("Профиль", "UserProfile", "Additional")
        </li>
    </ul>*@
    @Html.ActionLink("Главная", "Index", "Home")
    <br />
    @Html.ActionLink("Профиль", "UserProfile", "Additional")
</div>                
