@{
    ViewBag.Title = "Главная";

}

<div class="main-content">
        <div class="row">
        <div class="col-md-24">
            <img src="~/Content/Images/akademy.jpg" border="0" class="academy" />
            <p>Уважаемые коллеги!</p>

            <p>Центр информационных технологий предлагает вам новую версию информационно-аналитической системы "Академия", которая позволит вам накапливать и сохранять информацию о проделанной вами научной и педагогической работе. Кроме того, эта программа позволит комиссиям по назначению доплат и надбавок за ученые степени и звания оценивать результаты вашей деятельности более оперативно.</p>

            <p>Мы полагаем, что интерфейс предложенной системы может показаться вам не достаточно привычным, в связи с чем просим внимательно ознакомиться с кратким руководством пользователя (пункт 'Помощь' в меню). Все предложенные вами изменения в структуре запросов будут рассмотрены, обсуждены и после соблюдения необходимых формальностей, мы постараемся максимально быстро прийти к взаимно приемлемому варианту.</p>

            <p>С вопросами и пожеланиями по поводу функционирования ИАС "Академия" Вы можете обращаться в отдел разработки информационных систем ЦИТ по номеру <b>229-51-52</b>.</p>
</div>


        </div>
</div>
